/* Estrutura principal da seção Info e Atendimentos */
.Info,
.Atendimentos {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Atendimentos {
  margin-top: 22px;
  margin-bottom: 50px;
}

.Info .Container {
  flex: 1;
  max-width: 1300px;
  margin: 0 40px;
  gap: 104px;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Reduz o espaço da primeira coluna */
  padding: 0; /* Remova qualquer padding que afete o layout */
}

/* Estilos para a imagem da médica */
.Info .DRA {
  justify-self: end;
  align-self: center;
  width: 250px;
  height: 250px;
  border-radius: 5%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Info .DRA:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.Info .Sobre {
  height: 350px;
  width: 680px;
  display: flex;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(53, 51, 117, 0.1);
  margin-left: -250px; /* Remova a margem esquerda */
}

.Info .Formacao {
  padding: 10px;
  font-size: 16px;
  color: #666666;
}

/* Container da seção Atendimentos */
.Atendimentos .Container {
  flex: 1;
  max-width: 1300px;
  margin: 0 70px;
  gap: 104px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Atendimentos .Servico {
  height: 150px;
  width: 800px;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(53, 51, 117, 0.1);
  margin-left: 10px; /* Alinha com o LNC */
}

/* Estilos para "Atendo" */
.Publico {
  flex: 1;
  max-width: 300px;
  margin: 20px 70px;
  gap: 104px;
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  justify-content: center; /* Alinha horizontalmente */
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 750px;
  text-align: center;
}

.Atendimentos .Adultos,
.Atendimentos .Criancas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Atendimentos .Adultos:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(13, 182, 159, 0.3);
}

.Atendimentos .Criancas:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(53, 51, 117, 0.3);
}

/* Responsividade */
@media (max-width: 1350px) {
  .Info .Container,
  .Atendimentos .Container {
    gap: 64px;
  }
}

@media (max-width: 1150px) {
  .Info .Container,
  .Atendimentos .Container {
    margin-left: 40px;
    margin-right: 40px;
  }
}
